 <% layout('layouts/boilerplate')-%>
<body>
    <div class="row">
         <div class="col-2"></div>
        <div class="col-2">
          <a href="/menu/veg"><img src="https://t4.ftcdn.net/jpg/08/36/02/45/360_F_836024580_GMq3eGTwA8WS6JeHUP9I6iT2epmNIINx.jpg"   class="img-c"/></a>
          <h2 class="p-3 mt-2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNX36CZ0Eqg9WQpqMIJCFEkcUyFhtSoINW5g&s" style="height: 30px; width: 30px; padding: 1px;"/> Veg </h2>
        </div>
        <div class="col-2">
             <a href="/menu/non-veg"><img src="https://www.shutterstock.com/image-photo/indian-non-veg-lunch-restaurant-600w-2641736353.jpg"   class="img-c"/></a>
             <h2 class="p-3 mt-2" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5OfgmRMdIZAGV-DKoPCUnbSK6kbQ6bDCYhQ&s" style="height: 30px; width: 30px; padding: 1px;"/> Non_Veg</h2>
        </div>
        <div class="col-2">
             <a href="/menu/drinks"><img src="https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/inline-images/gt9.jpg" class="img-c"/></a>
             <h2 class="p-3 mt-2" ><img src="https://img.freepik.com/premium-vector/drink-water-logo-simple-minimalist-style-with-drink-silhouette-vintage-logos_254342-331.jpg?semt=ais_hybrid&w=740&q=80" style="height: 60px; width: 60px; padding: 1px;"/>Drinks</h2>
        </div>
        <div class="col-2">
             <a href="/menu/desserts"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvy2xsb_08Hr7SDf635C_QL1xI14_YqaF2fg&s" class="img-c"/></a>
              <h2 class="p-3 mt-2" ><img src="https://img.freepik.com/premium-vector/dessert-cake-logo-with-minimalist-style-sweet-cake-silhouette-vector-suitable-dessert-sweet-cake-snack-logos_254342-462.jpg?semt=ais_hybrid&w=740&q=80" style="height: 60px; width: 60px; padding: 1px;"/>Dessert</h2>
        </div>
          <div class="col-2"></div>
    </div>
     



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
 